.whole-project {
  border: #a2416b 4px solid;
  border-radius: 6px;
  background: #f5e8c7;
  font-family: "Special Elite", cursive;
  margin: 50px;
  padding: 20px 30px 20px 30px;
  width: 70%;
  margin: 80px auto;
}

.left-page {
  background: #deba9d;
}

.temperature {
  padding: 60px 10px 30px 10px;
}

.humidity-wind {
  font-size: 27px;
}
.value {
  display: block;
  float: right;
}

.temperature-list {
  padding: 130px 30px 40px 30px;
  font-size: 20px;
}

.day:hover {
  background-color: #a2416b;
  border-radius: 20px;
}

.icon {
  font-size: 30px;
}

input {
  border-radius: 6px;
  border: #6f4c5b 3px solid;
}

button {
  background-color: #e4ba6f;
  border-color: #a2416b;
  border-radius: 15px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: #a2416b;
  border-color: #e4ba6f;
  border-radius: 15px;
  cursor: pointer;
}

.footer {
  font-size: 12px;
  text-align: center;
}
